*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: tomato;
}

.container{
    position:"relative";
    display:flex;
    justify-content: center;
    align-items: center;
}

.food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

p{
    font-size: 10px;
}

.centered-placeholder{
    text-align: center;
}

.meals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

button{
    margin-bottom: 20px;
}