* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: 0.4s;
}
